.sidepanel_stack {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
    background-color: var(--global--color-secondary);
    border-radius: var(--global--border-radius);
    filter: grayscale(70%);
    transition: filter 0.2s ease-in-out;
    max-width: 35%;
    min-width: 35%;
    height: min-content;
}

.sidepanel_stack:hover {
    filter: grayscale(0%);
}

.sidepanel_stack_title {
    text-align: left;
    padding: 1rem;
}