.cards_grid {
  width: 75%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(455px, 455px));
  grid-auto-rows: minmax(250px, auto);
  gap: 30px;
  padding: 5px 10px 0px 30px;
}
