.sidepanel {
  display: flex;
  position: fixed;
  right: 0;
  height: 100%;
  color: white;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.sidepanel_content {
  margin: 1rem 1rem 1rem 1rem;
}

.sidepanel_title {
  margin-top: 0.5rem;
  font-size: xx-large;
}

.sidepanel_description {
  margin-top: 2rem;
}

.sidepanel_title,
.sidepanel_description {
  margin-bottom: 1rem;
}

.sidepanel_buttons {
  display: flex;
  justify-content: space-between;
}

.sidepanel_button {
  background-color: rgb(128, 128, 128, 0.1);
  padding: 10px;
  font-size: large;
  border-radius: var(--global--border-radius);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.sidepanel_button:hover {
  background-color: var(--global--color-secondary);
  color: var(--global--color-primary);
}

.sidepanel_button_icon {
  user-select: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.sidepanel_last_commit_date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
  margin: 0.5rem 0 0 0;
}