.slide_show_container {
  position: relative;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  filter: none;
  transition: filter 0.2s ease-in-out;
}

.mobile {
  aspect-ratio: 9 / 18;
  max-height: 50vh;
}

.slide_show_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.2s ease-in-out;
}

.slide_show_container:hover {
  cursor: pointer;
}

.slide_show_container:hover .slide_hover {
  cursor: pointer;
  filter: grayscale(100%);
}

.slide_show_container:hover .slide_no_hover {
  cursor: pointer;
  filter: none;
}
