.work_timeline {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, minmax(30%, 47%));
  grid-auto-rows: minmax(250px, auto);
  gap: 30px;
  margin-left: 30px;
  margin-right: 10px;
}

.work_timeline svg {
  font-size: xx-small;
}

.timeline {
  /* width: 75%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.profile {
  display: flex;
  width: 100%;
  margin-right: 10rem;
  padding: 3rem;
  background-color: rgb(128, 128, 128, 0.1);
  border-radius: var(--global--border-radius);
  animation: bubble 4s ease-in-out infinite;
  filter: grayscale(100%);
  height: auto;
  transition:
    filter 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.profile_minimized {
  padding: 1.5rem;
  transition:
    filter 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.profile:hover {
  filter: grayscale(0%);
  transition: filter 0.2s ease-in-out;
}

.profile:hover #profile_description_extender_container {
    color: rgb(255, 255, 255, 1);
}

.profile_picture {
  user-select: none;
  margin: auto;
  width: 200px;
  height: 350px;
  /* transform: scale(100%); */
  border-radius: var(--global--border-radius);
}

.profile_picture_minimized {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 0 23%;
  margin: 0;
}

.profile_description {
  padding: 0rem 0rem 0rem 2rem;
  font-size: medium;
  text-align: justify;
  text-justify: inter-word;
}

.minimized {
  display: flex;
  align-items: center;
}

.minimized:hover{
    color: white;
}

.profile_description_tag {
  font-size: x-large;
  transition: font-size 0.8s ease-in-out;
}

#profile_description_extender_container {
    color: rgb(255, 255, 255, 0.4);
}

.profile_description_extender {
  opacity: 0;
  margin: 0rem 0.5rem 0rem 0.5rem;
  transition: color 0.2s ease-in-out;
  animation: fadeAndSlideFromRight 1.5s ease-in-out forwards;
}

.profile_description_extender:hover {
  color: var(--global--color-primary);
  transition: color 0.2s ease-in-out;
}

.work_timeline_description {
  background-color: rgb(128, 128, 128, 0.1);
  margin-top: 2rem;
  padding: 2rem;
  font-size: small;
  border-radius: var(--global--border-radius);
  animation: bubble 4s ease-in-out infinite;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work_timeline_description h4 {
  padding: 0.5rem 0 0.5rem 0;
}

.work_timeline_description h4::before {
    content: "• ";
}

.timeline_dot {
  display: flex;
  align-items: "center";
}

/* replace */
.dot {
  width: 7rem;
  height: 7rem;
  /* text-align: left; */
  user-select: none;
  margin: 0 5rem 0 5rem;
  transition: color 0.2s ease-in-out;
}

.timeline_step {
  text-align: left;
  border-radius: var(--global--border-radius);
  width: 80%;
  display: flex;
  align-items: center;
  /* margin: 10rem 0 10rem 0; */
  padding: 1rem;
  animation: bubble 4s ease-in-out infinite;
}

.timeline_separator_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(35%, 50%));
  grid-auto-rows: minmax(100px, auto);
  gap: 30px;
}

.timeline_separator {
  display: flex;
  justify-content: center;
  margin: auto;
  user-select: none;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  width: 7px;
  height: 230px;
  border-radius: var(--global--border-radius);
}

.timeline_info {
  width: 100%;
  background-color: rgb(128, 128, 128, 0.1);
  padding: 1.5rem;
  border-radius: var(--global--border-radius);
  transition: background-color 0.2s ease-in-out;
}

.timeline_info:hover {
  background-color: var(--global--color-secondary);
  transition: background-color 0.2s ease-in-out;
  transform: scale(1.02);
}

.active,
.active:hover {
  background-color: var(--global--color-secondary);
  transform: scale(1.02);
  color: var(--global--color-primary);
}

.scale, .scale:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}

/* TODO: so far all these have been common - so might be able to put inside helpers.css or global.css */
.slide_fade_from_top {
  animation: fadeAndSlideFromTop 0.5s ease-in-out forwards;
}

.slide_fade_from_left {
  animation: fadeAndSlideFromLeft 0.9s ease-in-out forwards;
}

.slide_fade_from_right {
  animation: fadeAndSlideFromRight 0.9s ease-in-out forwards;
}

.fade_in {
  animation: fadeIn 0.5s ease-in-out forwards;
}